footer {
  background: var(--color-bg-variant);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-white);
  margin-top: 7rem;
}

footer a {
  color: var(--color-white);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary2);

  margin-bottom: 2rem;
  display: inline-block;
}

.footer__logo:hover {
  color: var(--color-primary2);

  letter-spacing: 0.2rem;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.permalinks>li>a:hover {
  color: var(--color-primary2);
  letter-spacing: 0.1rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  border: 2px solid transparent;
}



.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-light);
}

#facebook:hover {


  border-color: #4267B2;
  /* color: #4267B2; */
}

#instagram:hover {
  border-color: #d6249f;
}

#twitter:hover {
  border-color: #24bbd6
}

/* ===================MEDIA QUERIES(SMALL DEVICES)=================== */

@media screen and (max-width:600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }
}